GATEWAY_IMAGE=laurasandru/trustcloud-gateway:latest
GATEWAY_CONTAINER_NAME=trustcloud-gateway
GATEWAY_HOST_PORT=9443
GATEWAY_PA_URL=https://mtls.trust-cloud.dev
GATEWAY_ENROLLMENT_TOKEN=replace-with-token-from-pdp
GATEWAY_PUBLIC_ENDPOINT=replace-with-gateway-public-ip-or-domain:9443
