do_token = "dop_v1_replace_me"

region       = "fra1"
vpc_name     = "trustcloud-edge-private"
vpc_ip_range = "10.40.0.0/24"

ssh_key_fingerprints = [
  "replace-with-your-digitalocean-ssh-key-fingerprint",
]

ssh_allowed_cidrs = [
  "replace-with-your-public-ip/32",
]

gateway_allowed_cidrs = [
  "0.0.0.0/0",
]

gateway_image                = "laurasandru/trustcloud-gateway:latest"
pdp_mtls_url                 = "https://mtls.trust-cloud.dev"
gateway_public_port          = 9443
gateway_public_endpoint_host = "gateway1.trust-gate.dev"
gateway_enrollment_token     = "replace-with-one-time-token-from-pdp"
pdp_ca_pem_base64            = "replace-with-base64-encoded-pdp-ca"

internal_resource_count = 1
internal_resource_port  = 8080

rdp_resource_count = 1
rdp_resource_port  = 3389
rdp_user           = "admin"
rdp_password       = "change-this-rdp-password"
